body{
    font-family: Arial, Helvetica, sans-serif;   
}
#conteudo{
    display: flex;
}
.categoria{
    width: 250px;
}

.menu{
    text-align: justify;
    background-color: #1E90FF;
    font-weight: bold;
 
}
.menu::after{
    content: '';
    display: inline-block;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: white;
    display: inline-block

}
.container{
    text-align: center;
}


.linha{
    width: 100%;
    display: flex;
}

.item{
    width: 350px;
    height: 500px;    
    padding: 5px;
}

.preco{
    color: red;
}

#rodape {
    text-align: center;
}

#formas_pagamento{
    color:  #1E90FF;
}

.endereco{
    width: 25%;
    height: 200px;
    padding: 50px;

}
#loja{
  display: flex;
  margin-left: 100px;
}
#lojas{
    text-align: center;
}