body{
    font-family: Arial, Helvetica, sans-serif;   
}
#conteudo{
    display: flex;
}
.categoria-prod{
    width: 180px;

}
li{
    cursor: pointer;
}
.produtos{
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
}


.menu{
    text-align: justify;
    background-color: #1E90FF;
    font-weight: bold;
 
}
.menu::after{
    content: '';
    display: inline-block;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: white;
    display: inline-block

}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 10fr;
    text-align: center;
}


.item{
    width: 350px;
    height: 400px;    
    padding: 5px;
    
}

.preco{
    color: red;
}

#rodape {
    text-align: center;
}

#formas_pagamento{
    color:  #1E90FF;
}

.endereco{
    width: 25%;
    height: 200px;
    padding: 50px;

}
#loja{
  display: flex;
  margin-left: 100px;
}
#lojas{
    text-align: center;
}